/Assigment_8/packages
/Assigment_8/BAL/bin
/Assigment_8/BAL/obj
/Assigment_8/DAL/bin
/Assigment_8/DAL/obj
/Assigment_8/Entities/obj
/Assigment_8/Entities/bin
/Assigment_8/MVC/obj
/Assigment_8/MVC/bin
/Assigment_8/WebAPI/obj
/Assigment_8/WebAPI/bin
/Assigment_8/PDFGenerator/bin
/Assigment_8/PDFGenerator/obj
